***Import pandas, numpy, matplotlib

In [2]:
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

****READ DATA INTO MEMORY "Pokemon.csv" FILE

In [3]:
df=pd.read_csv("Pokemon.csv")

In [4]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
24,19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
25,20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
26,21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
27,22,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,False
28,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
29,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,700,Sylveon,Fairy,NaN,525,95,65,65,110,130,60,6,False
771,701,Hawlucha,Fighting,Flying,500,78,92,75,74,63,118,6,False
772,702,Dedenne,Electric,Fairy,431,67,58,57,81,67,101,6,False
773,703,Carbink,Rock,Fairy,500,50,50,150,50,150,50,6,False
774,704,Goomy,Dragon,NaN,300,45,50,35,55,75,40,6,False
775,705,Sliggoo,Dragon,NaN,452,68,75,53,83,113,60,6,False
776,706,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,False
777,707,Klefki,Steel,Fairy,470,57,80,91,80,87,75,6,False
778,708,Phantump,Ghost,Grass,309,43,70,48,50,60,38,6,False
779,709,Trevenant,Ghost,Grass,474,85,110,76,65,82,56,6,False
780,710,PumpkabooAverage Size,Ghost,Grass,335,49,66,70,44,55,51,6,False
781,710,PumpkabooSmall Size,Ghost,Grass,335,44,66,70,44,55,56,6,False
782,710,PumpkabooLarge Size,Ghost,Grass,335,54,66,70,44,55,46,6,False
783,710,PumpkabooSuper Size,Ghost,Grass,335,59,66,70,44,55,41,6,False
784,711,GourgeistAverage Size,Ghost,Grass,494,65,90,122,58,75,84,6,False
785,711,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False
786,711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

***Apply head command

In [68]:
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

***Check types of dataframe

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
type(df['Name'])

pandas.core.series.Series

In [8]:

type(df['HP'].values)

numpy.ndarray

In [9]:
type(df['HP'].values[0])

numpy.int64

--------------------------------------------------------------

2. EXPLORE DATASET
-what is dataset?. How it will look ?. What it contains?

In [10]:
#general info about total columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
#             800 non-null int64
Name          800 non-null object
Type 1        800 non-null object
Type 2        414 non-null object
Total         800 non-null int64
HP            800 non-null int64
Attack        800 non-null int64
Defense       800 non-null int64
Sp. Atk       800 non-null int64
Sp. Def       800 non-null int64
Speed         800 non-null int64
Generation    800 non-null int64
Legendary     800 non-null bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [11]:
#total summary od statistics of numeric columns
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [12]:
df.loc[1:10 ,"Total"].describe()

count     10.000000
mean     479.000000
std      127.828009
min      309.000000
25%      405.000000
50%      465.000000
75%      602.250000
max      634.000000
Name: Total, dtype: float64

In [13]:
#HOw many Null values are there ??
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [14]:
#how many legendary pokemons are there?
df["Legendary"].sum()

65

****Slicing and Filtering

In [15]:
#boolean filtering
df[df['Name']=="Pikachu"]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False

In [19]:
#find electric type flying pokemons
df[(df["Type 1"]=='Electric') & (df['Type 2']=='Flying')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
535,479,RotomFan Rotom,Electric,Flying,520,50,65,107,105,107,86,4,False
648,587,Emolga,Electric,Flying,428,55,75,60,75,60,103,5,False
704,642,ThundurusIncarnate Forme,Electric,Flying,580,79,115,70,125,80,111,5,True
705,642,ThundurusTherian Forme,Electric,Flying,580,79,105,70,145,80,101,5,True

**aggregating using group by

In [26]:
grp=df.groupby('Type 1')

In [27]:
grp

In [30]:
grp.mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714

In [31]:
grp.mean().max()

#             677.750000
Total         550.531250
HP             83.312500
Attack        112.125000
Defense       126.370370
Sp. Atk        98.403509
Sp. Def        88.843750
Speed         102.500000
Generation      5.500000
Legendary       0.500000
dtype: float64

2. Clean Data Processing
So here are some questions:

Which pokemon type is the most frequent?
Which pokemon type is the strongest and which the weakest? (according to total stats)
What are the 5 strongest pokemon among the common pokemon?
Which pokemon generation has the biggest average total stats?
How strong is Pikachu among pokemon of the same type?

In [32]:
#most frequest pokemon type
grp1=df.groupby('Type 1').count()

In [37]:
grp1

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112

In [38]:
grp1['Total'].max()

112

In [39]:
#strongest and weakest pokemon-----
strng=df[['Type 1','Total']].groupby('Type 1').mean()

In [42]:
strng

               Total
Type 1
Bug       378.927536
Dark      445.741935
Dragon    550.531250
Electric  443.409091
Fairy     413.176471
Fighting  416.444444
Fire      458.076923
Flying    485.000000
Ghost     439.562500
Grass     421.142857
Ground    437.500000
Ice       433.458333
Normal    401.683673
Poison    399.142857
Psychic   475.947368
Rock      453.750000
Steel     487.703704
Water     430.455357

In [45]:
#strong 5 types
strng.sort_values(by='Total',ascending=False).head(5)

              Total
Type 1
Dragon   550.531250
Steel    487.703704
Flying   485.000000
Psychic  475.947368
Fire     458.076923

In [48]:
#weakest 5 types
strng.sort_values(by='Total',ascending=False).tail(5)

               Total
Type 1
Fighting  416.444444
Fairy     413.176471
Normal    401.683673
Poison    399.142857
Bug       378.927536

In [ ]:
#find strongest pokemon in each group on alphabetic order

In [60]:
strong_type_poke=df[['Type 1','Name','Total']].sort_values(
                                by='Total', ascending=False).groupby('Type 1', as_index=False).first()

In [61]:
strong_type_poke

      Type 1                     Name  Total
0        Bug        ScizorMega Scizor    600
1       Dark                  Yveltal    680
2     Dragon    RayquazaMega Rayquaza    780
3   Electric    AmpharosMega Ampharos    610
4      Fairy                  Xerneas    680
5   Fighting      LucarioMega Lucario    625
6       Fire                    Ho-oh    680
7     Flying    TornadusTherian Forme    580
8      Ghost     GiratinaOrigin Forme    680
9      Grass    SceptileMega Sceptile    630
10    Ground    GroudonPrimal Groudon    770
11       Ice        GlalieMega Glalie    580
12    Normal                   Arceus    720
13    Poison                   Crobat    535
14   Psychic      MewtwoMega Mewtwo Y    780
15      Rock  TyranitarMega Tyranitar    700
16     Steel  MetagrossMega Metagross    700
17     Water      KyogrePrimal Kyogre    770

In [66]:
#top 10 pokemons among all
top10_poke=df[['Name','Total']].sort_values(by='Total',ascending=False).head(10)

In [67]:
top10_poke

                        Name  Total
426    RayquazaMega Rayquaza    780
164      MewtwoMega Mewtwo Y    780
163      MewtwoMega Mewtwo X    780
422      KyogrePrimal Kyogre    770
424    GroudonPrimal Groudon    770
552                   Arceus    720
712       KyuremWhite Kyurem    700
711       KyuremBlack Kyurem    700
409  SalamenceMega Salamence    700
413  MetagrossMega Metagross    700

In [73]:
#type of pikachu
pika=

TypeError: Indexing a Series with DataFrame is not supported, use the appropriate DataFrame column

In [82]:
#pikachu's type
pika=df['Type 1'][df['Name']=='Pikachu']

In [83]:
pika

30    Electric
Name: Type 1, dtype: object

4. VISUALISATION --BAR CHARTS